#profile_content{
    width: 90%;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    place-items: center;
}

.avatar_img{
    width: 60%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.spider_chart{
    width: 24%;
    height: auto;
}

.loggout_icon{
    position: absolute;
    top: 20px;
    right: 20px;
}

.profile_left{
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 300px;
}

@media screen and (max-width: 768px){
    #profile_content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }
    
    .loggout_icon{
        top: 5px;
        right: 5px;
        padding: 4px;
    }
    .spider_chart{
        width: 50%;
        height: auto;
        margin: 20px auto;
    }
}